html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Manrope',sans-serif;
    font-weight: 400;
    color: #121212;
    letter-spacing: -0.03em;
}

.body_fixed {
    overflow: hidden;
}
 
a {
    text-decoration: none;
    color: black;
}

.container {
    margin: 0 auto;
    max-width: 1151px;
}

.header__nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 33px 0 70px 0;
}
.header__nav__link {
    display: flex;
    gap: 60px;
}

.header__nav__link a {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: -0.03em;
    color: #121212;
}

.header__nav__link__active:hover {
    opacity: 0.5;
    border-bottom: 1px solid #121212;
}

.burger-btn {
    display: none;
}

.burger {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    transition: all 0.5s ease;
}
    
.burger_open {
    opacity: 1;
    visibility: visible;
}

.burger-content {
    width: 275px;
    height: 100%;
    overflow-y: auto;
    background-color: #FFFFFF;
    transition: transform  0.6s linear;
    transform: translateX(100%);
}

.burger_open .burger-content {
    transform: translateX(0);
}

.main {
    margin-bottom: 150px;
}

.main__title h1{
    width: 956px;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 30px;
    letter-spacing: -0.03em;
}

.main__image {
    position: relative;
    max-width: 1150px;
    height: 500px;
    background-image: url(../img/main.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.main__subtitle {
    position: absolute;
    left: 40px;
    bottom: 40px;
    color: #FFFFFF;
    line-height: 27px;
    max-width: 430px;
    font-size: 20px;
    letter-spacing: -0.03em;
}

h2 {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.information__text {
    max-width: 1048px;
    margin-bottom: 30px;
    font-size: 45px;
    line-height: 61px;
    letter-spacing: -0.03em;
    font-weight: 400;
}

.information__button,.services__btn,.popup__btn {
    font-family: "Manrope";
    border-radius: 5px;
    font-size: 20px;
    line-height: 27px;
    padding: 20px 40px;
    background-color: #AD1818;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    letter-spacing: -0.03em;
}

.projects {
    margin-top: 150px;
}

.projects_project {
    margin-bottom: 91px;
}

.projects_project img {
    max-width: 1150px;
    margin-bottom: 15px;
}


.projects__project__text {
    font-size: 30px;
    line-height: 40.98px;
    letter-spacing: -0.03em;
    margin-bottom: 15px;
}

.projects__project__link {
    color: #AD1818;
    text-decoration: none;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.02em;
}

.project__link {
    display: block;
    width: 100%;
    font-size: 30px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: -0.03em;
    text-align: center;
    color: #AD1818;
    padding: 55px 0;
    border: 1px solid #AD1818;
    margin-bottom: 150px;
    border-radius: 5px;
}

.project__link:hover {
    background-color: #AD1818;
    color: #FFFFFF;
}

.services {
    background-color: #121212;
}

.services__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.services__card {
    position: relative;
    width: calc(50% - 10px);
    padding-bottom: 75px;
}

.services__card__price {
    position: absolute;
    left: 30px;
    top: 30px;
    font-size: 22px;
    color: #FFFFFF;
    background-color: #AD1818;
    padding: 5px 20px;
    border-radius: 5px;
}

.services__card:nth-last-child(1) {
    padding-bottom: 114px;    
}

.services__title {
    color:#FFFFFF;
    padding: 142px 0 3px 2px;
}

.services__card img {
    width: 100%;
    color: #FFFFFF;
}

.services__text {
    color: #FFFFFF;
    padding-top: 24px;
    font-size: 30px;
}

.services__btn {
    width: 100%;
    padding: 61px 0;
    margin-bottom: 150px;
    font-size: 30px;
}


.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    visibility: hidden;
    opacity: 0;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    transition: all 0.5s ease;
}

.popup_open {
    visibility: visible;
    opacity: 1;
}


.popup__content {
    position: relative;
    width: 777px;
    background-color: #FFFFFF;
    text-align: center;
    padding: 0 60px;
    border-radius: 10px;
}
.popup__title {
    font-size: 45px;
    padding-top: 94px;
}
.popup__subtitle {
    font-size: 18px;
    padding-top: 4px;
}
.popup__btn {
    margin: 80px 0;
    padding: 20px 0px;
    width: 100%;
}

.popup__close-btn {
    position: absolute;
    right: 34px;
    top: 34px;
    width: 50px;
    height: 50px;
    background-color: white;
    border: none;
    background-image: url(../img/services/popup__close-btn.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.popup__input {
    display: block;
    width: 100%;
    font-size: 25px;
    border: none;
    border-bottom: 1px solid black;
    padding: 10px 0;
    margin-top: 50px;
    outline: none;
}

.feedback {
    margin-top: 150px;
}

.feedback__block {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 50px;
}

.feedback__block__card {
    width: calc(50% - 5px);
    line-height: 30px;
}

.feedback__block__card__big {
    width: 75%;
}

.feedback__block__title {
    font-size: 45px;
    padding-bottom: 46px;
}
.feedback__block__text {
    font-size: 22px;
}

.gallery__section {
    margin-top: 127px;
}

.gallery {
    position: relative;
    width: 100%;
    height: 717px;
}
.gallery__title {
    position: absolute;
    left: 124px;
    top: 60px;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    z-index: 10;
}

.gallery__slide__text {
    position: absolute;
    left: 125px;
    bottom: 60px;
    font-size: 30px;
    color: #FFFFFF;
    max-width: 445px;
}

.gallery__slides {
    height: 100%;
    width: 100%;
}

.gallery__slide {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
}


.gallery__slide__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.gallery__slide__active {
    opacity: 1;
}

.gallery__slide__controls {
   position: absolute;
   display: flex;
   z-index: 100;
   bottom: 150px;
   left: 125px;
   gap: 35px;
}

.gallery__slide__control-prev , .gallery__slide__control-next  {
    padding: 0;
    border: none;
    background: none;
    z-index: 100;
    width: 40px;
    height: 40px;
    background-size: cover;
}

.gallery__slide__control-prev:hover , .gallery__slide__control-next:hover {
    opacity: 0.5;
}

.gallery__slide__control-prev {
    background-image: url(../img/gallery/gallery__slide__control.png);
}

.gallery__slide__control-next {
    background-image: url(../img/gallery/gallery__slide__control.png);
    transform: rotate(180deg);
}

.contacts {
    margin: 150px 0;
}

.contacts__title {
    margin-bottom: 75px;
}

.contacts__box {
    display: flex;
    justify-content: space-between;
}

.contacts__telephone,.contacts__mail {
    position: relative;
}

.contacts__telephone::before {
    content: '';
    position: absolute;
    top: -40px;
    display: block;
    width: 13px;
    height: 22px;
    background-image: url(../img/contacts/tel.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contacts__mail::before {
    content: '';
    position: absolute;
    top: -40px;
    display: block;
    width: 20px;
    height: 16px;
    background-image: url(../img/contacts/mail.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.contacts__telephone a,.contacts__mail a{
    color: #121212;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
}
.contacts-active:hover a {
    color: rgba(18, 18, 18, 0.5);;
    border-bottom: 2px solid;
}

footer {
    background-color: #121212;
}

.footer__nav {
    display: flex;
    gap: 55px;
    width: 450px;
    margin: 0 auto;
    padding: 60px 0 87px 0;
}

.footer__nav a {
    color: #FFFFFF;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: -0.03em;
}


.footer__nav__link__active:hover {
    opacity: 0.5;
}

.footer__text {
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.5;
    padding-bottom: 30px;
    letter-spacing: -0.03em;
}

@media (max-width: 1199px) {
    
    .container {
        width: 100%;
        padding: 0 17px;
    }

    img {
        width: 100%;
    }

    .header__nav__logo img{
        width: auto;;
    }

    .header__nav__link {
        display: none;
    }

    .burger-content {
        padding: 80px 0 0 30px;
    }

    .burger-btn {
        display: block;
        width: 50px;
        position: relative;
        background: none;
        border: none;
    }

    .burger-btn::before,
    .burger-btn::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        z-index: 100;
        height: 2px;
        width: 100%;
        background-color: black;
    }

    .burger-btn::after {
        top: 6px;
        width: 31px;
    }

    .burger-btn_open::before,
    .burger-btn_open::after {
        display: none;
    }

    .burger-btn_open{
        position: absolute;
        top: 0px;
        right: 0px;
        height: 34px;
        width: 32px;
        background-image: url(../img/burger-btn-close.png);
        background-repeat: no-repeat;
        background-position: center;
        z-index: 100;
    }

    .burger-header__nav__link {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .burger-header__nav__link__active {
        font-size: 25px;
        color: #121212;
        cursor: pointer;
    }

    .burger-header__nav__link__active:nth-child(1) {
        margin-top: 50px;
    }

    .burget-contacts {
        margin-top: 90px;
    }

    .burget-contacts__title {
        font-size: 16px;
        opacity: 0.5;
    }

    .burget-contacts__tel,.burget-contacts__mail {
        font-size: 20px;
        padding-top: 15px;
    }

    .main {
        margin-bottom: 120px;
    }

    .main__title h1{
        max-width: 802px;
    }

    .main__image {
        width: 100%;
        max-height: 400px;
    }
   
    .main__subtitle {
        left: 40px;
        bottom: 30px;
        line-height: 27px;
        max-width: 430px;
        font-size: 20px;
    }
    
    
    .information__text {
        max-width: 690px;
        font-size: 35px;
        line-height: 47px;
    }

    .projects {
        margin-top: 120px;
    }

    .projects_project {
        margin-bottom: 80px;
    }

    .projects_project img {
        width: 100%;
        margin-bottom: 15px;
    }

    .projects__project__text {
        font-size: 25px;
        line-height: 34px;
        margin-bottom: 10px;
    }

    .project__link {
        font-size: 30px;
        line-height: 40px;
        padding: 56px 0;
        margin-bottom: 103px;
    }

    .services__card {
        padding-bottom: 80px;
    }
    
    .services__card__price {
        font-size: 20px;
        padding: 7px 26px;
    }
    
    .services__card:nth-last-child(1) {
        padding-bottom: 80px;    
    }
    
    
    .services__text {
        padding-top: 15px;
        font-size: 25px;
    }
    
    .services__btn {
        margin-bottom: 120px;
    }

    .feedback {
        margin-top: 117px;
    }

    .feedback__block {
        gap: 10px;
    }

    .feedback__block__card {
        width: calc(50% - 5px);
        margin-bottom: 80px;
    }


    .feedback__block__title {
        font-size: 35px;
        padding-bottom: 14px;
    }
    .feedback__block__text {
        font-size: 20px;
    }

    .gallery {
        height: 540px;
    }
    .gallery__title {
        left: 50px;
        top: 80px;
        font-size: 20px;
    }
    
    .gallery__slide__text {
        left: 50px;
        bottom: 80px;
        font-size: 25px;
        max-width: 380px;
    }
    
    .gallery__slide__controls {
       bottom: 150px;
       left: 40px;
       gap: 35px;
    }

    .gallery__slide__control-prev:hover , .gallery__slide__control-next:hover {
        opacity: 0.5;
    }

    .contacts {
        margin: 120px 0 80px 0;
    }
    
    .contacts__title {
        margin-bottom: 75px;
        font-size: 18px;
    }
    
    .contacts__box {
        justify-content: left;
        gap: 114px;
    }
    
    .contacts__telephone,.contacts__mail {
        position: relative;
    }
    
    .contacts__telephone::before,.contacts__mail::before {
        top: -26px;
    }
    
    .contacts__telephone a,.contacts__mail a{
        font-size: 45px;
    }
    
    .footer__nav {
        gap: 53px;
    }

}

@media (max-width: 767px) {

    .container {
        padding: 0 12px;
    }
    
    .main {
        margin-bottom: 80px;
    }

    .main__title h1{
        width: 337px;
        font-size: 30px;
        line-height: 31px;
        margin-bottom: 25px;
    }

    .main__image {
        height: 304px;
    }
   
    .main__subtitle {
        width: 312px;
        left: 15px;
        bottom: 15px;
        max-width: 430px;
        font-size: 16px;
        line-height: 21px;
    }
    
    h2 {
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 20px;
    }
    
    .information__text {
        width: 100%;
        margin-bottom: 30px;
        font-size: 14px;
        line-height: 19px;
    }

    button {
        border-radius: 5px;
        font-size: 16px;
        line-height: 21px;
        padding: 14px 27px;
}

    .projects {
        margin-top: 80px;
    }

    .projects_project {
        margin-bottom: 49px;
    }

    .projects_project img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: 50%;
        margin-bottom: 20px;
    }

    .projects__project__text {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 11px;
    }

    .project__link {
        font-size: 16px;
        line-height: 21px;
        padding: 37px 0;
        margin-bottom: 144px;
    }
    
    .services__title {
        color:#FFFFFF;
        padding: 80px 0 20px 0;
    }
     .services__cards {
        gap: 15px;
    }
    
    .services__card {
        width: 100%;
        padding-bottom: 60px;
    }
    
    .services__card__price {
        left: 25px;
        top: 25px;
        font-size: 14px;
        padding: 5px 23px;
    }
    
    .services__card:nth-last-child(1) {
        padding-bottom: 60px;    
    }
    
    .services__text {
        padding-top: 10px;
        font-size: 18px;
    }
    
    .services__btn {
        padding: 37px 0;
        margin-bottom: 80px;
        font-size: 22px;
        margin-bottom: 80px;
    }

    .feedback__block {
        flex-direction: column;
    }

    .feedback__block__card {
        width: 100%;
    }

    .feedback__block__card:nth-last-child(1) {
        margin-bottom: 0;
    }

    .feedback__block__title {
        font-size: 25px;
    }
    .feedback__block__text {
        font-size: 16px;
    }

    .gallery__section {
        margin-top: 80px;
    }
    
    .gallery {
        height: 408px;
    }
    .gallery__title {
        left: 12px;
        top: 60px;
        font-size: 14px;
    }
    
    .gallery__slide__text {
        left: 13px;
        bottom: 60px;
        font-size: 20px;
        max-width: 280px;
    }

    
    .gallery__slides {
        height: 100%;
        width: 100%;
    }
    
    .gallery__slide {
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0;
    }
    
    
    .gallery__slide__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    
    .gallery__slide__active {
        opacity: 1;
    }
    
    .gallery__slide__controls {
        left: auto;
        bottom: calc(50% - 16px);
        width: calc(100% - 25px);
        justify-content: space-between;
        gap: 0px;
     }
   
    .gallery__slide__control-prev , .gallery__slide__control-next  {
        width: 30px;
        height: 30px;
    }
    
    .contacts {
        margin: 80px 0;
    }
    
    .contacts__title {
        margin-bottom: 58px;
        font-size: 14px;
    }
    
    .contacts__box {
        flex-direction: column;
        gap: 58px;
    }
    
    
    .contacts__telephone::before,.contacts__mail::before {
        top: -20px;
    }
    
    .contacts__telephone a,.contacts__mail a{
        font-size: 35px;
    }

    .footer__nav {
        gap: 30px;
        max-width: 281px;
        margin: 0 auto;
        padding: 30px 0 41px 0;
    }
    
    .footer__nav a {
        font-size: 12px;
    }
    
    
    .footer__text {
        font-size: 13px;
    }

    .popup__close-btn {
        right: 30px;
        top: 40px;
        width: 30px;
        height: 30px;
    }

    .popup__content {
        width: 100%;
        padding: 0 7px;
    }
    .popup__title {
        font-size: 25px;
        padding-top: 80px;
    }
    .popup__subtitle {
        font-size: 14px;
        padding-top: 11px;
    }
    .popup__btn {
        margin: 60px 0;
        font-size: 20px;
    }
}








